<ul class="post-list">
  {% for post in postslist %}
  <li class="post-list__item">
    <div class="post-list__item--inner">
      <div class="post-list__meta-wrapper">
        {% if post.data.featured %}
          <div class="post-list__featured-badge">
            <div class="featured-star">★</div>
          </div>
          <div>◦</div>
        {% endif %}
        <div class="post-list__meta">
          <time datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">{{ post.date | dateToFormat('yyyy-MM-dd')  }}</time>
          <span>◦</span>
          <span>{{ post.data.readingTime or post.template.inputContent | getReadingTime }} min read</span>
        </div>
      </div>
 

      <div class="post-list__tags">
        {% if post.data.displayTags %}
          {% for tag in post.data.displayTags %} 
          <a href="{{ tag.url | url }}">#{{ tag.name }}</a>{% if not loop.last %} & {% endif %}
          {% endfor %}
        {% else %}
          {% set displayTags = post.data.tags | filterTagsForDisplay | sort %}
          {% for tag in displayTags %} 
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>{% if not loop.last %} & {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <h3 class="post-list__title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>

      <p class="post-list__excerpt">{{ post.data.description }}</p>

      <a class="post-list__read-more" href="{{ post.url }}"><span class="dot"></span> Read post</a>
    </div>
  </li>
  {% endfor %}
</ul>
