.header {
  max-width: none;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 2rem;
  }
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.75rem;
  padding: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid var(--light-accent);
}

.site-title {
  font-size: var(--text-xl);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.site-title a:hover {
  color: var(--accent);
}

.site-title a {
  position: relative;
  display: inline-block;
  color: var(--color);
  text-decoration: none;
}

.site-title a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 10px;
  height: 100%;
  background-color: var(--accent);
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: var(--text-base);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav__list a {
  color: var(--color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.nav__list a:hover {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

.nav__list li {
  margin-right: 1.5rem;
}

.nav__list li:last-child {
  margin-right: 0;
}
