:root {
  --accent-primary: rgb(0, 255, 25);
  --accent-secondary: rgb(0, 10, 255);
  --accent-tertiary: rgba(230, 230, 230, 1);
  --accent-quaternary: rgb(254, 1, 154);
  --background: #fff;
  --color: rgb(0, 0, 0);
  --color-90: rgb(117, 117, 117);
  --color-80: rgba(41, 41, 41, 0.8);
  --color-30: rgba(41, 41, 41, 0.3);
  --color-10: rgba(41, 41, 41, 0.1);
}
