---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404 Not Found</h1>
  <p>
    Ah. Your browser communicated fine with the server, but the server couldn't find what you were
    asking it for.
  </p>
  <p>
    Possibly <span class="dashed-link"><a href="/about">my</a></span> fault, computers are tricky.
  </p>
  <p>
    Return <span class="dash-link"><a href="{{ '/' | url }}">home</a></span
    >.
  </p>
</div>
