--- 
layout: base.njk
title: Posts
permalink: /posts/
---

<h2>All posts ({{ collections.posts | length }})</h2>
<div class="tags">Tagged: {% include "tags-list.njk" %}</div>
{% set postslist = collections.posts %}
{% include "posts-list.njk" %}