---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: posts-page.njk
permalink: "{% if tag == 'all' %}/posts/{% else %}/tags/{{ tag | slugify }}/{% endif %}"
eleventyComputed:
  title: "{% if tag == 'all' %}Posts{% else %}{{ tag | title }}{% endif %}"
  description: '{% if tag == ''all'' %}All posts{% else %}All posts tagged "{{ tag }}"{% endif %}'
  tagName: "{{ tag }}"
---
