---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    
    <div class="post__details">
      <time datetime="{{ date | dateToFormat('yyyy-LL-dd') }}">{{ date | dateToFormat('yyyy-MM-dd') }}</time>
      <span>◦</span>
      <span>{{ page.readingTime or content | getReadingTime }} min read</span>
      <span>◦</span>
      <span>
        {% if page.displayTags %}
          {% for tag in page.displayTags %}
          <a href="{{ tag.url | url }}">#{{ tag.name }}</a>{% if not loop.last %} & {% endif %} 
          {% endfor %}
        {% else %}
          {% for tag in tags | filterTagsForDisplay | sort %} 
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>{% if not loop.last %} & {% endif %} 
          {% endfor %}
        {% endif %}
      </span>
      <span class="post__np-icon"
        ><span class="post__np-icon__inner">🎧</span
        ><a href="{{audioLink}}" target="_blank">{{ nowPlaying }}</a></span
      >
    </div>
  </header>

  <main class="post__content">{{ content | safe }}</main>

  <nav class="post__pagination">
    {%- set nextPost = collections.sortedPosts | getNextCollectionItem(page) %}
    {%- if nextPost %}
    <a href="{{ nextPost.url | url }}">
      <span>←</span>
      <span>{{ nextPost.data.title }}</span>
    </a>
    {% endif %}
    
    {%- set previousPost = collections.sortedPosts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}
    <a href="{{ previousPost.url | url }}">
      <span>{{ previousPost.data.title }}</span>
      <span>→</span>
    </a>
    {% endif %}
  </nav>
</article>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
